<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>eShop{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/shop/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/shop/css/style.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="{{ asset('bundles/shop/css/bootstrap-responsive.css') }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/shop/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/shop/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/shop/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/shop/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/shop/ico/apple-touch-icon-57-precomposed.png') }}">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('shop_homepage') }}">eShop</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="{{ path('shop_homepage') }}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                {{ knp_menu_render('ShopBundle:Builder:sidebarMenu') }}
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            {% block herounit %}{% endblock %}
            {% block main %}{% endblock %}

        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div><!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/shop/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-transition.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-alert.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-modal.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-dropdown.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-scrollspy.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-tab.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-tooltip.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-popover.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-button.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-collapse.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-carousel.js') }}"></script>
<script src="{{ asset('bundles/shop/js/bootstrap-typeahead.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>