{% extends 'ShopBundle::layout.html.twig' %}
{% block main %}
<h1>Product list</h1>

<table class="records_list table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Categories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
        <tr>
            <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                    {% for category in entity.categories %}
                            <a class="btn btn-mini btn-info" href="{{ path('category_show', {'id': category.id}) }}">
                                <i class="icon-tag"></i> {{ category.name }}
                            </a>
                    {% endfor %}
            </td>
            <td>
                <a class="btn btn-small" href="{{ path('product_show', { 'id': entity.id }) }}">
                    <i class="icon-search"></i> show
                </a>
                <a class="btn btn-small" href="{{ path('product_edit', { 'id': entity.id }) }}">
                    <i class="icon-pencil"></i> edit
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li style="list-style: none">
        <a class="btn btn-success" href="{{ path('product_new') }}">
            <i class="icon-plus"></i> Create a new product
        </a>
    </li>
</ul>


{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock main %}